@use "../abstracts/variables" as variables;



#heroServicios{
    background-image: url(../../img/bgDark.jpg);
    height: 85vh;
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.titleServicios{
    font-size: 3.5em;
    color: variables.$mainTextColor-light;
    padding-bottom:20px;
    padding-top: 30vh;
}

div#contenedorIntroServicios {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgServicio {
    padding-right: 50px;
}
