@use "../abstracts/variables";

div#contenedorIntroNosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cardItemTeam{
    padding: 20px;
    border-top: 1px solid $border;
    width: 30%;
    padding-right: 30px;
}

.listaItems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#heroTeam{
    background-image: url(../../img/team-office.jpg);
    height: 85vh;
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.teamPerfil{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}