@use "../abstracts/variables" as variables;

.botonBlack{
    border: 1px solid variables.$mainColor;
    padding:10px 20px;
    border-radius: 100px;
    color: variables.$mainColor;
    background-color: transparent;
    font-weight:600;
    font-size: 18px;

    &:hover{
        color: variables.$mainBgColor-light;
        background-color: variables.$mainColor-secondary;
        border:none;
    }
}

.botonWhite{
    border: 1px solid variables.$mainTextColor-light;
    padding:10px 20px;
    border-radius: 100px;
    color: variables.$mainTextColor-light;
    background-color: transparent;
    font-weight:600;
    font-size: 18px;

    &:hover{
        color: variables.$mainColor;
        background-color: variables.$mainColor-secondary;
        border:none;
    }
}


.botonForm{
    border: 1px solid variables.$mainTextColor-light;
    border-radius: 100px;
    color: variables.$mainTextColor-light;
    background-color: transparent;
    font-weight:600;
    font-size: 16px;
    padding: 10px 25px;
    margin-top: 30px;
    
    &:hover{
        color: variables.$mainBgColor-light;
        background-color: variables.$mainColor-secondary;
        border:none;
    }
}


button.navbar-toggler {
    background-color: white !important;
    padding: 10px;
}