@use "../abstracts/variables" as variables;

#servicios_cards {
  margin-top: 50px;

  .col {
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}