@use "../abstracts/variables" as variables;

#cta{
    background-color: variables.$mainColor;
    padding: 100px;
    color:variables.$mainTextColor-light;
    
    p {
        font-size: 40px;
    }
}
