@use "../abstracts/variables" as variables;

a {
    text-decoration: none;
  
    &:link {
      color: variables.$mainTextColor-light;
      text-decoration: none;
    }
  
    &:hover {
      color: variables.$mainColor-secondary;
      text-decoration: none;
    }
  
    &:visited {
      color: variables.$mainTextColor-light;
      text-decoration: none;
    }
  }
