@use "../abstracts/variables" as variables;

.titleHome{
    font-size: 50px;
    color: variables.$mainBgColor-light;
    padding-bottom:20px;
    width: 50%;
}

h2 {
    font-size: 40px ;
    padding-bottom: 20px;
}

h3{
    font-size: 20px ;
    padding-bottom: 20px;
}