@use "../abstracts/variables" as variables;

#porqueElegirnos{
    padding-bottom: 100px;
    
    .motivo_card{
        padding:50px;
    }
    .numeroMotivo{
        font-size: 60px;
        font-weight: 900;
        color: variables.$mainColor-secondary;
    }
}
