@use "../abstracts/variables" as variables;

footer{
    background-color: variables.$mainColor;
    color: variables.$mainTextColor-light;
    padding: 2% 5%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    .rrss{
        display:flex;
    }
}

